:root {
    --padding-s: 10px 25px;;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "side header" 
  "side main";
}

h1, h2, h3, .title {
  font-family: "Work Sans", sans-serif;
}

aside {
    display: flex;
    flex-direction: column;
    grid-area: side;
    background-color: rgb(50, 50, 50);
    color: white;
    padding: var(--padding-s);
    gap: 1rem;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 30);
    color: white;
    padding: var(--padding-s);
}

main {
    grid-area: main;
    background-color: white;
    color: black;
}
